.head {color: white; text-align:center; font-family: Helvetica; background-image: url("/resources/images/flat-iron-building.png")}
h1 {font-size: 70px; font-weight:bold;}
.nav-list li {font-size: 18px;}
