html {font-family: Helvetica; text-align: center;}
.header {color: white; background-image: url("./images/the-flatiron-building.png");
.navlist {font-size: 18px;}
h1 {font-size: 70px; font-weight: bold;}
.process {font-size: 32px; font-weight: bold;}
